<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 id="hname"><%= title %></h1>
    <form method="post" id="submit" action="/post" autocomplete="off">
      <input type="text" name="ename" id="ename"><br>
      <input type="submit" value="指定" id="sitei">
    </form>
    <br>
    <br>
    <br>
    <br>
    <div id="explain">
      <ul>
      <li>上のフォームにメールアドレスを入力して、ボタンを押してください。入力したアドレスに欠席連絡メールが届きます。</li>
      <li>本来は、google calendar から送信先を指定する仕様ですが、今回はフォームを利用しています。</li>
      <li>入力したメールアドレスはメール送信のみに使い、それ以外の利用はいたしません. </li>
      </ul>
    </div>

  </body>
</html>
